<%- include('../includes/head/head.ejs') %>

    <body class="text-base text-black font-nunito dark:text-white dark:bg-slate-900">
        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->


        <%- include('../includes/nav/nav.ejs') %>

          <!-- Start Section-->
          <section class="relative pb-16 md:pb-24 md:pt-40 pt-36">
            <div class="container relative">
                <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                    <div class="lg:col-span-4 md:col-span-6">
                        <div class="sticky top-20">
                            <form action="/api/post/uploads2" method="POST" enctype="multipart/form-data">
                                <input type="file" name="file">
                                <button type="submit">Upload File</button>
                            </form>
                        </div>
                    </div>

                    <div class="lg:col-span-8 md:col-span-6">
                        <div class="p-6 rounded-md shadow dark:shadow-gray-800">

                            <img src="<%= process.env.GERGI_HOSTNAME %>assets_2/images/blog/slide02.jpg" class="rounded-md" alt="">

                            <div class="mt-12 text-center">
                                <span class="bg-indigo-600 inline-block text-white text-xs font-semibold px-2.5 py-0.5 rounded-full h-5">Technology</span>
                                <h3 class="my-3 text-[26px] font-semibold">My Very Minimal <br> Interior Design Ideas</h3>

                                <ul class="mt-6 list-none">
                                    <li class="inline-block mx-4 font-semibold text-slate-400"> <span class="block text-slate-900 dark:text-white">Client :</span>
                                        <span class="block">Crisostomo Ibarra</span>
                                    </li>
                                    <li class="inline-block mx-4 font-semibold text-slate-400"> <span class="block text-slate-900 dark:text-white">Date :</span>
                                        <span class="block">23th May, 2022</span>
                                    </li>
                                    <li class="inline-block mx-4 font-semibold text-slate-400"> <span class="block text-slate-900 dark:text-white">Time :</span>
                                        <span class="block">8 Min Read</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="mt-6 text-justify" style="text-align: justify;">
                                <p class="text-justify text-slate-400">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                </p>

                                <p class="mt-10 text-justify text-slate-400">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->


        <script>
            // document.querySelector('form').addEventListener('submit', async (event) => {
            //     event.preventDefault();
            //     const formData = new FormData();
            //     formData.append('file', document.querySelector('input[type="file"]').files[0]);

            //     try {
            //         const response = await fetch('/api/post/uploads2', {
            //             method: 'POST',
            //             body: formData
            //         });
            //         const data = await response.json();
            //         console.log(data);
            //     } catch (error) {
            //         console.error('Error uploading file:', error);
            //     }
            // });
        </script>

        <%- include('../includes/switcher/switcher.ejs') %>

        <%- include('../includes/ltr_and_rtl_mode/ltr_and_rtl_mode.ejs') %>

        <script src="<%= process.env.GERGI_HOSTNAME %>javascript/upload.js"></script>

        <%- include('../includes/script/script.ejs') %>